html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
  }



  .mascotte{
    display: flex;
    width: auto;
    margin: auto;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    background-color: white;
  }



  .title{
    display: flex;
    width: auto;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .fa{
    color:#000000CC ;
  }

  .social-icons {
    display: inline-flex; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    float: center;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size: small;
    color:grey;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    text-justify: inter-word;
  }

  .social-icn {
      width: auto;
      height: 50px;
      margin: 10px;
  }

.titolo-servizi {
    display: inline-flex; 
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    float: center;
    font-family: 'Aleo', serif, 
    font-size: large;
    color:grey;
    align-items: center;
    justify-content: center;
    text-align: justify;
  text-justify: inter-word;
}

.navbar {
    display: flex; 
    margin: 0;
    padding: 0  ;
    background-color: #000000CC;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    
}
.logo-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.logo {
    display: inline-flex;
    justify-content: flex-start ;
    margin:0px;
    width: 150px;
    max-height: 120px;
}

.top-icon {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    max-height: 70px;
    color: grey;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-icon:hover {
    color-interpolation-filters: rgb(74, 163, 242);
    transform: scale(1.2);

}


a {
    border-bottom-style: none;
    text-decoration: none;
  
}

@keyframes effect {
    20%, 100% {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    0%, 10%{
        width: 55px;
        height: 55px;
        font-size: 35px;
    }
    5%{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
}



.card-container {
    justify-self: center;
    justify-items: center;
    margin:20px 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 5%;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .card-container { grid-template-columns: repeat(2, 1fr); 
      justify-self: center;
      justify-items: center;
      display: grid; 
    }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .card-container { grid-template-columns: repeat(4, 1fr); 
      justify-self: center;
    }
  }
  
.card .button {
    align-self: center;
}

/* Simple Card styles for prettying */


* {
    box-sizing: border-box;
}

.card__thumbnail {
    margin: none;
    padding: none;
}

img {
    display: flex;
    width: 100%;
    height: auto;
    padding: none;
    margin: none;
    border-radius: 10px;
}

.card__title {
    display: flex; 
    margin: 10px;
    padding: 0  ;
    background-color: white;
    width: 80%;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size:x-small;
    justify-self: center;
    color: #000000CC;
    justify-content: center;
}

h3 {
    text-align: center;
}

/* Card buttons formatting */

.card-button-items {
    justify-content: center;
    align-items: center;
    display: inline-flex;  
    text-align: center;
    z-index: 0;
    
}



.lft-card-button {
    display: flex;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    border-radius: 5%;
    width: 60%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
}

.final-info {
    display: flex;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size:xx-small;
    color:grey;
    align-items: center;
    justify-content: center;
}
.whatsapp-button{
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 99;
    background-color: #25d366;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    animation: effect 5s infinite ease-in;
}

.phone-button{
    position: fixed;
    justify-content: flex-end;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    background-color: #1576eb;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    animation: effect 5s infinite ease-in;
}

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);



span {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #000000CC;
  text-align: center;
}

span {
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

@-webkit-keyframes blink {
  to {visibility: hidden;}
}
@keyframes blink {
  to {visibility: hidden;}
}

