html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
  }



  .mascotte{
    display: flex;
    width: auto;
    margin: auto;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    background-color: white;
  }



  .title{
    display: flex;
    width: auto;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px #000000CC;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .fa{
    color:#000000CC ;
  }

  .social-icons {
    display: inline-flex; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    float: center;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size: small;
    color:grey;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    text-justify: inter-word;
  }

  .social-icn {
      width: auto;
      height: 50px;
      margin: 10px;
  }

.titolo-servizi {
    display: inline-flex; 
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    float: center;
    font-family: 'Aleo', serif; 
    font-size: large;
    color:grey;
    align-items: center;
    justify-content: center;
    text-align: justify;
  text-justify: inter-word;
}

.navbar {
    display: flex; 
    margin: 0;
    padding: 0  ;
    background-color: #000000CC;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    
}
.logo-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.logo {
    display: inline-flex;
    justify-content: flex-start ;
    margin:0px;
    width: 150px;
    max-height: 120px;
}

.top-icon {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    max-height: 70px;
    color: grey;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-icon:hover {
    color-interpolation-filters: rgb(74, 163, 242);
    transform: scale(1.2);

}


a {
    border-bottom-style: none;
    text-decoration: none;
  
}

@keyframes effect {
    20%, 100% {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    0%, 10%{
        width: 55px;
        height: 55px;
        font-size: 35px;
    }
    5%{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
}



.card-container {
    justify-self: center;
    justify-items: center;
    margin:20px 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 5%;
}



/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .card-container { grid-template-columns: repeat(2, 1fr); 
      justify-self: center;
      justify-items: center;
      display: grid; 
    }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .card-container { grid-template-columns: repeat(4, 1fr); 
      justify-self: center;
    }
  }
  
.card .button {
    align-self: center;
}

/* Simple Card styles for prettying */


* {
    box-sizing: border-box;
}

.card__thumbnail {
    margin: none;
    padding: none;
}

img {
    display: flex;
    width: 100%;
    height: auto;
    padding: none;
    margin: none;
    border-radius: 10px;
}

.card__title {
    display: flex; 
    margin: 10px;
    padding: 0  ;
    background-color: rgba(18,72,120, 0.8);
    border-radius: 5%;
    width: 80%;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size:x-small;
    justify-self: center;
    color: #000000CC;
    justify-content: center;
}

h3 {
    text-align: center;
    color: #fff;
    padding: 0 1rem;
    top: 2rem; 
    left: 2rem;
}

/* Card buttons formatting */

.card-button-items {
    justify-content: center;
    align-items: center;
    display: inline-flex;  
    text-align: center;
    z-index: 0;
    
}



.lft-card-button {
    display: flex;
    background-color: #10913f;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
    border-radius: 5%;
    width: 60%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 30px;
}

.open-article {
  font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
  font-size: small;
  color: white;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.25);
}

.final-info {
    display: flex;
    font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
    font-size:xx-small;
    color:grey;
    align-items: center;
    justify-content: center;
}
.whatsapp-button{
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 99;
    background-color: #25d366;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    animation: effect 5s infinite ease-in;
}

.phone-button{
    position: fixed;
    justify-content: flex-end;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    background-color: #1576eb;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    animation: effect 5s infinite ease-in;
}

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);



span {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #000000CC;
  text-align: center;
}

span {
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

@-webkit-keyframes blink {
  to {visibility: hidden;}
}
@keyframes blink {
  to {visibility: hidden;}
}



#main {
  margin-top: 10px;
  height: auto;
  width: 100%;
  text-align: center;
}

.open {
  color: #27ae60;
  border: 2px solid #27ae60;
}

.closed {
  color: rgba(231, 76, 60, 0.85);
  border: 2px solid rgba(231, 76, 60, 0.8);
}

.viewOpen {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 2px solid rgba(70, 70, 70, 0.7);
  max-width: 170px;
  background: #fff;
  width: 100%;
  color: rgba(70, 70, 70, 0.8);
  margin: 0 auto;
  top: 50%;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 16px -8px #adadad;
  -moz-box-shadow: 0 8px 16px -8px #adadad;
  box-shadow: 0 8px 16px -8px #adadad;
  cursor: pointer;
}

.viewOpen i {
  color: rgba(70, 70, 70, 0.8);
}

@media all and (max-width: 600px) {
  #timeDiv {
    margin-bottom: 20px;
  }
}

@media all and (min-width: 601px) {
  #timeDiv {
    margin-right: 15px;
  }
}

.dateTime {
  max-width: 320px;
  margin: 0 auto;
}

.day {
  display: inline-block;
  float: left;
}

.time {
  display: inline-block;
  float: right
}

.today {
  color: rgb(200, 85, 39);
  font-weight: 600;
}

@media all and (max-height: 420px) {
  #timeDiv, .viewOpen {
    top: 60%;
  }
}
/* view hours modal */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 173, 173, 0.5);
  display: none;
  font-family: 'Aleo', serif, Arial, Helvetica, sans-serif;
  font-size:small;
  background-color: #000000CC;
}

#modal-state {
  display: none;
}

#modal-state:checked + .modal-overlay {
  opacity: 1;
  animation: fade-in .4s;
  display: block;
}

.modal {
  position: absolute;
  margin: 0 auto;
  padding: 30px 25px;
  background: #fff;
  right: 0;
  left: 0;
  text-align: center;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  line-height: 1.8;
}



.modal h2 {
  margin-top: 0;
  line-height: 25px;
  font-size: 22px;
  border-bottom: 1px solid #dce0d8;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

@media all and (max-width: 470px) {
  .modal {
    width: 75%;
  }
  .modal h2{
    font-size: 20px;
  }
}

#modal-state:checked + .modal-overlay .modal {
  top: 20%;
}

.modal-overlay-close {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.button-close {
  text-decoration: none;
  position: absolute;
  color: #fff;
  background: #464646;
  padding: 0px 7px;
  font-weight: bold;
  top: 0px;
  right: 0;
  cursor: pointer
}